:root,
body.light {
  --primary: #6650a4;
  --on-primary: #ffffff;
  --primary-container: #e9ddff;
  --on-primary-container: #22005e;
  --secondary: #615b70;
  --on-secondary: #ffffff;
  --secondary-container: #e8dff8;
  --on-secondary-container: #1e192b;
  --tertiary: #7d5260;
  --on-tertiary: #ffffff;
  --tertiary-container: #ffd8e4;
  --on-tertiary-container: #31101d;
  --error: #ba1b1b;
  --error-container: #ffdad4;
  --on-error: #ffffff;
  --on-error-container: #410001;
  --background: #fffbfe;
  --on-background: #1c1b1e;
  --surface: #fffbfe;
  --on-surface: #1c1b1e;
  --surface-variant: #e6e0eb;
  --on-surface-variant: #48454e;
  --outline: #79757f;
  --inverse-on-surface: #f4eff3;
  --inverse-surface: #313033;
  --inverse-primary: #d0bcff;
}

body.dark {
  --primary: #d0bcff;
  --on-primary: #371e73;
  --primary-container: #4e378b;
  --on-primary-container: #e9ddff;
  --secondary: #cbc2dc;
  --on-secondary: #332d41;
  --secondary-container: #4a4458;
  --on-secondary-container: #e8dff8;
  --tertiary: #efb7c8;
  --on-tertiary: #492532;
  --tertiary-container: #633b48;
  --on-tertiary-container: #ffd8e4;
  --error: #ffb4a9;
  --error-container: #930006;
  --on-error: #680003;
  --on-error-container: #ffdad4;
  --background: #1c1b1e;
  --on-background: #e6e1e6;
  --surface: #1c1b1e;
  --on-surface: #e6e1e6;
  --surface-variant: #48454e;
  --on-surface-variant: #cac4d0;
  --outline: #948f99;
  --inverse-on-surface: #1c1b1e;
  --inverse-surface: #e6e1e6;
  --inverse-primary: #6650a4;
}
