<template name="fiveStars">
  {{#if isReadOnly}}
  <div>
    <i class="{{size}} {{isSelected 1}} rounded">star</i>
    <i class="{{size}} {{isSelected 2}} rounded">star</i>
    <i class="{{size}} {{isSelected 3}} rounded">star</i>
    <i class="{{size}} {{isSelected 4}} rounded">star</i>
    <i class="{{size}} {{isSelected 5}} rounded">star</i>
  </div>
  {{else}}
  <div>
    <i class="{{size}} {{isSelected 1}} starBtn rounded" data-value="1">star</i>
    <i class="{{size}} {{isSelected 2}} starBtn rounded" data-value="2">star</i>
    <i class="{{size}} {{isSelected 3}} starBtn rounded" data-value="3">star</i>
    <i class="{{size}} {{isSelected 4}} starBtn rounded" data-value="4">star</i>
    <i class="{{size}} {{isSelected 5}} starBtn rounded" data-value="5">star</i>
  </div>
  <input type="hidden" id="fiveStarsRating" name="fiveStarsRating" value="{{rating}}" />
  {{/if}}
</template>
