<template name="fiveStars">
  {{#if isReadOnly}}
  <nav class="wrap">
    <i class="{{size}} {{isSelected 1}}">star</i>
    <i class="{{size}} {{isSelected 2}}">star</i>
    <i class="{{size}} {{isSelected 3}}">star</i>
    <i class="{{size}} {{isSelected 4}}">star</i>
    <i class="{{size}} {{isSelected 5}}">star</i>
  </nav>
  {{else}}
  <nav class="wrap">
    <i class="{{size}} {{isSelected 1}} starBtn" data-value="1">star</i>
    <i class="{{size}} {{isSelected 2}} starBtn" data-value="2">star</i>
    <i class="{{size}} {{isSelected 3}} starBtn" data-value="3">star</i>
    <i class="{{size}} {{isSelected 4}} starBtn" data-value="4">star</i>
    <i class="{{size}} {{isSelected 5}} starBtn" data-value="5">star</i>
  </nav>
  <input type="hidden" id="fiveStarsRating" name="fiveStarsRating" value="{{rating}}" />
  {{/if}}
</template>
