<template name="hello">
  <h1 class="small center-align">Le site pour se compter anonymement en groupe</h1>
  <div class="space"></div>
  <article class="elevate">
    <h3 class="small">Comment ça marche ?</h3>
    <h5 class="small">
      Seul le créateur du compteur doit avoir un e-mail valide (adresses jetables acceptées).
    </h5>
    <h5 class="small">Le compteur ne nécessite pas de s'identifier pour participer.</h5>
    <h5 class="small">
      Une clé unique et anonyme est créée au chargement du compteur pour participer.
    </h5>
    <h5 class="small">
      Chaque participant peut transmettre facilement le compteur pour que tout le monde se compte.
    </h5>
    <div class="large-divider"></div>
    <h3 class="small">Pourquoi ce site ?</h3>
    <h5 class="small">Pour permettre aux chiffres non officiels de devenir vrai.</h5>
    <h5 class="small">
      Pour permettre aux participants et aux soutiens de savoir qu'ils comptent.
    </h5>
  </article>
</template>
