<template name="hello">
  <h2 class="small">
    Bienvenue sur le premier site qui permet de se compter en groupe et anonymement.
  </h2>
  <div class="divider"></div>
  <h3 class="small underline">Comment ça marche ?</h3>
  <h4 class="small">
    Une personne crée un compteur pour un évènement. C'est la seule personne qui doit créer un
    compte avec une adresse email valide.
  </h4>
  <h4 class="small">
    La page à partager aux participants ne nécessite pas de compte pour se compter.
  </h4>
  <h4 class="small">Chaque participant peut à son tour partager la page avec les autres.</h4>
  <div class="space"></div>
  <a href="/new" class="button responsive upper extra">Créer un compteur</a>
</template>
