<template name="hello">
  <h2 class="small center-align">Le site pour se compter anonymement en groupe.</h2>
  <div class="space"></div>
  <h3 class="small underline">Comment ça marche ?</h3>
  <h5 class="small">Seul le créateur du compteur doit avoir une adresse email valide.</h5>
  <h5 class="small">La page à partager ne nécessite pas de compte pour se compter.</h5>
  <h5 class="small">
    Une clef unique et anonyme est créée au chargement de la page du compteur pour participer.
  </h5>
  <h5 class="small">Chaque participant peux transmettre facilement la page de compteur.</h5>
  <h3 class="small underline">Pourquoi ce site ?</h3>
  <h5 class="small">Pour permettre aux chiffres non officiel de devenir vrai.</h5>
  <h5 class="small">Pour permettre aux participants de savoir qu'ils comptent.</h5>
  <div class="space"></div>
  <a href="/new" class="button responsive upper extra">Créer un compteur</a>
</template>
