<template name="header">
  <header class="fill">
    <nav>
      {{#if isHome}}
      <button class="circle transparent" id="showMenuBtn">
        <i>menu</i>
      </button>
      {{else}} {{#unless noReturn}}
      <button class="circle transparent" id="goBackBtn">
        <i>arrow_backward</i>
      </button>
      {{else}}
      <img width="44" src="/logo.png" id="logo" alt="Logo" />
      {{/unless}} {{/if}}
      <h6 class="max center-align" id="logo">
        {{#if title}} {{title}} {{else}} On Se Compte {{/if}}
      </h6>
      <button class="circle transparent" id="darkModeBtn">
        <i>dark_mode</i>
      </button>
    </nav>
  </header>
  {{> menu}}
</template>
