<template name="about">
  <div class="space"></div>
  <article class="elevate">
    <h2 class="small">À propos</h2>
    <h5 class="small">
      Site fait par&nbsp;
      <a class="link" href="https://twitter.com/guidouil" target="_blank">@GuidouiL</a>.
    </h5>
    <h6 class="small">
      Logo fabriqué sur&nbsp;
      <a class="link" href="https://www.flaticon.com/fr/icones-gratuites/compteur" target="_blank">
        Flaticon </a
      >.
    </h6>
    <h6 class="small">
      Site hébergé en France chez&nbsp;
      <a class="link" href="https://www.clever-cloud.com/" target="_blank">Clever Cloud</a>.
    </h6>
    <h5 class="small">
      Code source disponnibe sur&nbsp;
      <a class="link" href="https://github.com/guidouil/onsecompte" target="_blank">GitHub</a>.
    </h5>
    <h5 class="small">Aucun cookie de suivi n'est utilisé.</h5>
  </article>
  <div class="space"></div>
  <h5 class="small center-align">Un problème, une suggestion ?<br />Contactez-moi 👇</h5>
  <h4 class="small center-align">
    <a class="link" href="mailto:onsecompte@gmail.com" target="_blank">onsecompte@gmail.com</a>
  </h4>
  <div class="space"></div>
</template>
